
<h3>Create a new account</h3>
<form action="/users" method="post">
    <label for="">New email</label>
    <input type="text" name="email" id="" />
    
    <label for="">Password</label>
    <input type="password" name="password" id="" />

    <button>Sign in</button>

</form>

